<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}

    <link rel="shortcut icon" href="{% static 'rake/imgs/logo.ico' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'rake/css/material.blue-red.min.css' %}">
    <link rel="stylesheet" href="{% static 'rake/css/mine.css' %}">

    <script src="{% static 'rake/js/material.js' %}"></script>
    <script src="{% static 'rake/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'rake/js/sticky-header.js' %}"></script>
    <script src="{% static 'rake/js/font-awesome.min.js' %}"></script>
    <script src="{% static 'rake/js/rakeman.js' %}"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div class="demo-layout-transparent mdl-layout mdl-js-layout">

    {% block header %}
        {% include "rake/search_header.html" %}
    {% endblock %}

        <!-- span -->
        <main class="mdl-layout__content">
            {% block content %}
            {% endblock %}
        </main>

    {% block footer %}
        {% include "rake/base_footer.html" %}
    {% endblock %}
    </div>

</body>
</html>
