{% extends 'rake/base.html' %}

{% block title %}
    news' list
{% endblock %}

{% block content %}
    <style>
        html {
            color: transparent;
        }
        .demo-card-wide {
            width: 512px;
            margin: 15px auto;
        }
    </style>
    {% if results %}
        <ul>
            {% for result in results %}
                <li>
                    <div class="demo-card-wide mdl-button--accent mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">{{ result.title }}</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            {{ result.digest }}
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a href="{{ result.url }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                                {{ query_string }}
                                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                                <i class="material-icons">share</i>
                                <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results related!</p>
    {% endif %}

{% endblock %}
